<footer class="footer">
    <p class="text-rg-gray">Copyright &copy; <%= new Date().getFullYear() %> Synthesa. Created by <a href="https://dejanblagic.com/" class="text-md">Dejan Blagic</a>. All rights reserved.</p>
</footer>
</body>
</html>