<%- include('includes/header') %>

    <section class="section">
        <h3 class="heading-l">404</h3>
        <p class="text-rg">Page not found</p>
    </section>
    
<%- include('includes/footer') %>