<%- include('includes/header') %>

    <section class="post-section">
        <div class="card-post-line">
            <h1 class="heading-i">About</h1>
        </div>
        <div class="text-rg-read">
            Welcome to Synthesa, a place with essays that combines two seemingly unrelated ideas. My main goal is to share unique essays about a variety of topics, including cognitive science, design, complexity science, political science, metaphysics, and astrobiology. These are areas that I'm particularly interested in and enjoy reading about.
        </div>
        <div class="text-rg-read">
            As I read books and articles in these fields, I often find myself drawing connections between them in order to gain a deeper understanding of each subject. I believe that exploring these connections can lead to new insights and ideas that might not have been possible otherwise.
        </div>
        <div class="text-rg-read">
            At Synthesa, I strive to provide thought-provoking content that challenges  readers to think beyond their usual perspectives. I hope that my essays will inspire you to explore new topics and make unexpected connections of your own.
        </div>
    </section>

    <%- include('includes/footer') %>