// Use 4pt grid system
$px-4: 4px; 
$px-8: 8px;
$px-12: 12px;
$px-14: 14px;
$px-16: 16px;
$px-18: 18px;
$px-20: 20px;
$px-24: 24px;
$px-28: 28px;
$px-32: 32px;
$px-36: 36px;
$px-48: 48px;
$px-56: 56px;
$px-64: 64px; 
$px-80: 80px; 

// utilities
.move-4 {
    transform: translate(0, 4px);

}

.margin-auto {
    margin: 0 auto;
}

.left-12 {
    padding-left: 12px;
}